target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

p-common/.gitignore

p-gateway/.gitignore
p-gateway/src/main/resources/application.bak

p-order-service/.gitignore
p-order-service/src/main/resources/application.bak

p-user-service/.gitignore
p-user-service/src/main/resources/application.bak

p-product-service/.gitignore
p-product-service/src/main/resources/application.bak

p-file-service/.gitignore
p-file-service/src/main/resources/application.bak

.idea/*.xml
.idea/*.json


### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

./package
